<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>homestead</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-3293741006979475071</integer>
							<key>name</key>
							<string>BRS Consents : Local</string>
							<key>port</key>
							<string>33061</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>homestead</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brs_consents</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>712873994707829888</integer>
							<key>name</key>
							<string>BRS Consents NEW : Local</string>
							<key>port</key>
							<string>33061</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Consents : Local</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>7446884040512743568</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : Master DB</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_admin</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-4064949461411976051</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : Admin</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_brsgolfclubsales</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>6275794661930417797</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : brsgolfclubsales</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_fl_cody</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>2820322739565683074</integer>
							<key>name</key>
							<string>BRS Teesheet : Local G1 : FL Cody</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_fl_demo</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>7985633237069371512</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : FL Demo</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_co_foothills2</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-2763439494429344624</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : CO Foothills2</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_cloverhill</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-203450222732200582</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : Cloverhill</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_portrush</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-628327153003500136</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : Portrush</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_ballykisteen</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-4678454711657008005</integer>
							<key>name</key>
							<string>BRS Teesheet : Local : Ballykisteen</string>
							<key>port</key>
							<string>33056</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Teesheet : Local</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brs_facilities</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>7927521211800866450</integer>
							<key>name</key>
							<string>BRS Facilities : Local</string>
							<key>port</key>
							<string>33070</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Facilties : Local</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brsgolf_competitions</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-1116550639692906882</integer>
							<key>name</key>
							<string>BRS Competitions Module : Local</string>
							<key>port</key>
							<string>33066</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brsgolf_tbsuser</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Competitions Module : Local</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>1822843441523947642</integer>
							<key>name</key>
							<string>Directory Master : Local</string>
							<key>port</key>
							<string>33068</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brs_directory_service</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>4171825592565449074</integer>
							<key>name</key>
							<string>Directory Service : Local</string>
							<key>port</key>
							<string>33068</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string>brs_directory_service_api_test</string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-993234938219329940</integer>
							<key>name</key>
							<string>Directory Service API Tests : Local</string>
							<key>port</key>
							<string>33068</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>-2114366436302660980</integer>
							<key>name</key>
							<string>Organisation Master : Local</string>
							<key>port</key>
							<string>3316</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>1848361107673055634</integer>
							<key>name</key>
							<string>Rules Master : Local</string>
							<key>port</key>
							<string>27020</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Directory Services : Local</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>3</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>127.0.0.1</string>
							<key>id</key>
							<integer>8303149510215463817</integer>
							<key>name</key>
							<string>BRS Admin Api: Local Copy</string>
							<key>port</key>
							<string>33061</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string></string>
							<key>sshKeyLocation</key>
							<string></string>
							<key>sshKeyLocationEnabled</key>
							<integer>0</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string></string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>0</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>root</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>BRS Admin Api</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>qa1.brsgolf.com</string>
							<key>id</key>
							<integer>5523081346488414862</integer>
							<key>name</key>
							<string>BRS Teesheet QA1</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>qa2.brsgolf.com</string>
							<key>id</key>
							<integer>-5542974642988498292</integer>
							<key>name</key>
							<string>BRS Teesheet QA2</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>rc2.brsgolf.com</string>
							<key>id</key>
							<integer>-1827850811190181229</integer>
							<key>name</key>
							<string>BRS Teesheet RC2</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>rc3-origin.brsgolf.com</string>
							<key>id</key>
							<integer>-9109641428154222723</integer>
							<key>name</key>
							<string>BRS Teesheet RC3</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>rc57-db01-brsgolf-com</string>
							<key>id</key>
							<integer>4752776043104160384</integer>
							<key>name</key>
							<string>BRS Teesheet RC3 G1</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>rc4.brsgolf.com</string>
							<key>id</key>
							<integer>-4436322910088833647</integer>
							<key>name</key>
							<string>BRS Teesheet RC4</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
						<dict>
							<key>allowDataLocalInfile</key>
							<integer>0</integer>
							<key>colorIndex</key>
							<integer>0</integer>
							<key>database</key>
							<string></string>
							<key>enableClearTextPlugin</key>
							<integer>0</integer>
							<key>host</key>
							<string>db01-v2-integration-eu-west2</string>
							<key>id</key>
							<integer>-1048481703099065212</integer>
							<key>name</key>
							<string>Integration QA</string>
							<key>port</key>
							<string>3306</string>
							<key>socket</key>
							<string></string>
							<key>sshHost</key>
							<string>bastion-uk.brsgolf.dev</string>
							<key>sshKeyLocation</key>
							<string>/Users/206678185/.ssh/id_ed25519</string>
							<key>sshKeyLocationEnabled</key>
							<integer>1</integer>
							<key>sshPort</key>
							<string></string>
							<key>sshUser</key>
							<string>pierce_mcgeough_golfnow_io</string>
							<key>sslCACertFileLocation</key>
							<string></string>
							<key>sslCACertFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslCertificateFileLocation</key>
							<string></string>
							<key>sslCertificateFileLocationEnabled</key>
							<integer>0</integer>
							<key>sslKeyFileLocation</key>
							<string></string>
							<key>sslKeyFileLocationEnabled</key>
							<integer>0</integer>
							<key>timeZone</key>
							<string></string>
							<key>timeZoneMode</key>
							<integer>0</integer>
							<key>type</key>
							<integer>2</integer>
							<key>useSSL</key>
							<integer>0</integer>
							<key>user</key>
							<string>brs_pmcgeough</string>
						</dict>
					</array>
					<key>IsExpanded</key>
					<false/>
					<key>Name</key>
					<string>QA/RC : Stage</string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>FAVORITES</string>
		</dict>
	</array>
</dict>
</plist>
